html {
	height: 100%;
	width: 100%;
	background-color: #CFFDBC;
}

#interBox {
	border: 5px solid green;
	margin: auto;

	width: 1024px;
	height: 512px;
}

#hoverText {
	border: 5px solid green;
	margin: auto;

	width: 1024px;
	height: 128px;
}

#hoverTextHeader {
	font-family: 'Kanit', monospace;
	font-size: 20px;
	text-align: center;
}

#mainHeader {
	border: 10px double lightgreen;
	text-align: center;
	font-family: 'Kanit', monospace;
	font-size: 100px;
	margin: -5px;
}

.image {
	width: 510px;
	height: 510px;

	transition: transform 0.2s;
}

.image:hover {
	transform: scale(1.05);
}

#caption {
	font-family: 'Kanit', monospace;
	font-size: 15px;
	text-align: center;
}
