html {
	height: 100%;
	width: 100%;
	background-color: rgba(221,160,221, 0.4);
}

#mainHeader {
	border: 10px double rgba(238,130,238, 0.6);
	text-align: center;
	font-family: 'Kanit', monospace;
	font-size: 100px;
	margin: -5px;
}

.image {
	width: 128px;
	height: 128px;

	transition: transform 0.2s;
}

.image:hover {
	transform: scale(1.02);
}

#back {
	width: 512px;
	height: 512px;
}

#caption {
	font-family: 'Kanit', monospace;
	font-size: 15px;
	text-align: center;
}
